@charset "UTF-8";


h1, h2, h3 {
    font-family: var(--featured-font-family);
    font-size: 3rem;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 40px;
}

p {
    color: var(--highlight-color);
}

p, input, label, textarea {
    font-family: "Libre Baskerville", serif;
}

button {
    padding: 16px 32px;
    background-color: transparent;
    font-weight: 900;
    font-family: var(--featured-font-family);
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 1s ;
}

header {
    background-color: var(--header-background-color);
    min-height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/banner/florest.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 90%;
    filter: saturate(0);
    opacity: 0.2;
}

.header-content {
    max-width: 700px;
    padding: 80px 20px;
    text-align: center;
    z-index: 2;
}

.header-content img {
    width: 80%;
}

.header-content p {
    margin: 30px 0 50px;
}

.header-content button {
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
}

.header-content button:hover {
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
}

.world-characters {
    width: 100%;
    max-height: 900px;
    position: absolute;
}

.world-characters#top-characters {
    height: 100%;
    background-color: var(--character-top-image-color);
    bottom: -3px;
    

    mask: var(--character-top-image-src) bottom / 100% no-repeat;
    -webkit-mask: var(--character-top-image-src) bottom / 100% no-repeat;
}

.world-characters#bottom-characters {
    height: 500px;
    background-color: var(--character-bottom-image-color);
    top: 3px;
    transform: rotateZ(180deg) scaleX(-1);
    position: relative;
    
    mask: var(--character-bottom-image-src) top / contain no-repeat;
    -webkit-mask: var(--character-bottom-image-src) top / 100% no-repeat;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}